/*ログイン画面のCSS*/

.login-form {
  max-width: 400px;
  margin: auto;
  background: #fff;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  margin-bottom: 10px;
}

button[type="submit"] {
  display: block;
  margin: 0 auto;
  background: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background: #3e8e41;
}

.checkbox {
  margin-top: 10px;
}

.form-text p {
  display: block; /*会員登録リンクを中央揃え*/
  margin: 20px auto;
  text-align: center;
}

/*会員登録フォーム*/

.register-form {
  max-width: 400px;
  margin: auto;
  background: #fff;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.register-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.manual-text li {
  margin-bottom: 5px;
}