@charset "UTF-8";
/* mypage */
.graph-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.graph-wrapper {
  margin: 10px;
  width: 400px;
  height: 400px;
}

@media (max-width: 768px) {
  .graph-container {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .graph-wrapper {
    width: 100%;
  }
}
.action-form {
  margin: 5% auto 5%;
}

#mypage-table {
  margin: 1% auto 5%; /*中央に設置する指定*/
}

#mypage-th-left {
  padding: 10px;
}

#mypage-th-right {
  padding: 10px;
}

#mypage-td-left {
  line-height: 1.25em;
}

#mypage-td-right {
  line-height: 1.25em;
}

/*新規会員用マイページ画面*/
.start-guide {
  margin: auto;
  background: #fff;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.start-guide h2 {
  text-align: center;
  margin-bottom: 50px;
}

.guide-text {
  margin: 20px auto;
  text-align: center;
}

.guide-text p {
  line-height: 1.2rem;
}

.next-btn {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
  text-align: center;
}

/* 過去履歴画面 */
#td-center td {
  text-align: center;
}

/*過去履歴１画面*/
.table-center {
  margin: 1% auto 5%;
}

/*ご利用ガイド画面*/
.user-manual {
  max-width: 700px;
  margin: auto;
  background: #fff;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.user-manual h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.manual-text li {
  margin-top: 10px;
  margin-bottom: 0.5rem;
}

.manual-text p {
  margin-bottom: 0.2em;
}
